* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}

div {
  width: 500px;
  background-color: hsl(263, 55%, 52%);
  color: #fff;
  padding: 10px;
  position: relative;
  z-index: 1;
}

div::after {
  content: "";
  background: url("../images/bg-pattern-quotation.svg") no-repeat;
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
