@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("../assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("../assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("../assets/fonts/Ubuntu-Bold.ttf");
}
