body {
  font-family: "Inter", sans-serif !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2d2d2d !important;
  border-radius: 6px;
}

main {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "sidebar principal extra"
    "player player player";
  grid-template-rows: 90vh 10vh;
  grid-template-columns: 270px 1fr 270px;
}

.sidebar {
  grid-area: sidebar;
}

.principal {
  grid-area: principal;
}
.extra {
  grid-area: extra;
}
.player {
  grid-area: player;
}
